@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@if (User.Identity.IsAuthenticated)
{
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="bi bi-person-circle me-1"></i>
			@User.Identity.Name
		</a>
		<ul class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown">
			<li>
				<a class="dropdown-item text-white" asp-controller="Member" asp-action="UserEdit">
					<i class="bi bi-person-gear me-2"></i>Profil Düzenle
				</a>
			</li>
			<li>
				
			<li>
				<a class="dropdown-item text-white" asp-controller="Member" asp-action="LogOut">
					<i class="bi bi-box-arrow-right me-2"></i>Çıkış Yap
				</a>
				 
			</li>
		</ul>
	</li>
}
else
{
	<li class="nav-item">
		<a class="nav-link" asp-controller="Home" asp-action="SignIn">Giriş Yap</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" asp-controller="Home" asp-action="SignUp">Kayıt Ol</a>
	</li>
}